<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <title>Fun_Space</title>
</head>
<style>
    a {
        text-decoration-line: none;
        color: black;
    }

    .domain {
        height: 150px;
        padding-top: 20px;
        padding-left: 30px;
    }

    .post_write {
        width: 500px;
        height: 500px;
        margin: 20px auto;
        padding: 50px;
        border-radius: 5px;

    }
</style>

<body>
    <div class="domain" onclick="location.href='/';">
        <h1 style="text-align: center;">Fun_Space</h1>
    </div>
    <div class="post_write" id="content">
        <div class="form-group" style="max-width: 40rem; margin: auto; margin-top: 10px;">
            <label for="exampleFormControlInput1">title</label>
            <input type="text" class="form-control" id="title_post">
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label for="exampleFormControlTextarea1">write</label>
            <textarea class="form-control" id="write_post" rows="5"></textarea>
        </div>

        <button type="submit" onclick="posting()" class="btn btn-secondary" id="posting"
            style="margin-top: 10px; padding: auto;">수정하기</button>
        <button type="submit" onclick="get_delete()" class="btn btn-secondary" id="deleteing"
            style="margin-top: 10px; padding: auto;">삭제하기</button>
</body>
<script>

    const id = window.location.search.replace('?', '');
    get_write(id)


    function get_write(_id) {
        $.ajax({
            type: "GET",
            url: `/api/editpost/${_id}`,
            data: {},
            success: function (response) {
                let write = response;
                document.getElementById('title_post').value = write.title
                document.getElementById('write_post').value = write.write
            }
        })
    }

    function posting(_id) {
        const title = $('#title_post').val()
        const write = $('#write_post').val()
        if (!(title && write)) {
            alert("입력되지 않았습니다.")
        }
        console.log("안녕")
        $.ajax({
            type: "PUT",
            url: `/api/editpost/${_id}`,
            data: {
                title: title,
                write: write,
            },
            success: function (response) {
                alert(response['msg'])
            }
        })
    }

    function get_delete() {
        $.ajax({
            type: "DELETE",
            url: `/api/editpost/${_id}`,
            data: {},
            success: function (response) {
                alert(response['msg'])
                window.location.href = "/"
            }
        })
    }




</script>

</html>